*{
    margin: 0%;
    padding: 0%;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
     
}

header h1{
    margin-right: 18%;
}


header img{
    width: 30%;
    height: 30%;
    max-width: 100%;
    max-height: 100%;
}


form{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 20%;
    
    }

    div form{
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2%;
    background-color: blueviolet;

    }


    